<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="peopleWork"
             type="DisplayPattern.PeopleWorkfigurationSection,DisplayPattern"/>
  </configSections>
  <peopleWork>
    <peopleState name="peopleState"
            type="DisplayPattern.PeopleState,DisplayPattern"
            job="Teacher"
            energy="100" />
    <modules>
      <add name="workAtMorning" type="DisplayPattern.WorkAtMorning,DisplayPattern" />
      <add name="workAtAfternoon" type="DisplayPattern.WorkAtAfternoon,DisplayPattern" />
      <add name="workAtNight" type="DisplayPattern.WorkAtNight,DisplayPattern" />
    </modules>
  </peopleWork>
</configuration>