<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="peopleWork"
             type="ConsoleDisplay.Data.DesignPattern.SubClass.PeopleWorkfigurationSection,DisplayPattern"/>
  </configSections>
  <peopleWork>
    <peopleState name="peopleState"
            type="DisplayPattern.PeopleState,DisplayPattern"
            job="Teacher"
            energy="100" />
    <modules>
      <add name="workAtMorning" type="ConsoleDisplay.Data.DesignPattern.SubClass.WorkAtMorning,DisplayPattern" />
      <add name="workAtAfternoon" type="ConsoleDisplay.Data.DesignPattern.SubClass.WorkAtAfternoon,DisplayPattern" />
      <add name="workAtNight" type="ConsoleDisplay.Data.DesignPattern.SubClass.WorkAtNight,DisplayPattern" />
    </modules>
  </peopleWork>
</configuration>